/* Base styles */
body {
    background-color: #f5f1e4;
    color: #343a40;
    font-family: 'Merriweather', serif;
}

h1, h3 {
    font-family: 'Merriweather', serif;
}

.card {
    background-color: #ffffff;
    color: #343a40;
}

.card-text {
    color: #343a40;
}

.list-group-item.text-dark {
    color: #000000;
}

.btn-primary {
    background-color: #fc1c27;
    border-color: #fc1c27;
    color: #ffffff;
}

.btn-secondary {
    background-color: #ffffff;
    border-color: #fc1c27;
    color: #fc1c27;
}

/* Modal content */
.modal-content {
    color: #000000;
}

/* Form styles */
.form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    margin-right: 10px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

/* FAQ styles */
.faq-question {
    cursor: pointer;
    margin-bottom: 5px;
    font-weight: bold;
}

.faq-answer {
    display: none;
    margin-bottom: 15px;
}
