<!DOCTYPE html>
<html lang="{{ g.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('Admin Dashboard') }}</title>
      {% include 'head_includes.html' %}
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1 class="text-center my-4">{{ _('Admin Dashboard') }}</h1>
        <form action="{{ url_for('admin_dashboard') }}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">{{ _('Item Name') }}</label>
                <input type="text" name="name" class="form-control" id="name" required>
            </div>
            <div class="form-group">
                <label for="email">{{ _('Email') }}</label>
                <input type="email" name="email" class="form-control" id="email" required>
            </div>
            <div class="form-group">
                <label for="phone">{{ _('Phone') }}</label>
                <input type="text" name="phone" class="form-control" id="phone" required>
            </div>
            <div class="form-group">
                <label for="image">{{ _('Image') }}</label>
                <input type="file" name="image" class="form-control-file" id="image" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">{{ _('Add Item') }}</button>
        </form>
        <div class="text-center mt-4">
            <a href="{{ url_for('index') }}" class="btn btn-secondary">{{ _('Return to Index') }}</a>
        </div>
        <h3 class="text-center my-4">{{ _('Existing Items') }}</h3>
        <ul class="list-group">
            {% for item in items %}
            <li class="list-group-item text-dark">
                <strong>ID: {{ item.id }}</strong> - {{ item.name }} - {{ item.email }} - {{ item.phone }}
                <img src="{{ url_for('static', filename='useruploads/' ~ item.image) }}" alt="..." class="img-thumbnail" width="50">
                <form action="{{ url_for('delete_item') }}" method="POST">
                    <input type="hidden" name="delete_item_id" value="{{ item.id }}">
                    <button type="submit" class="btn btn-danger">{{ _('Delete') }}</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
