<!DOCTYPE html>
<html lang="{{ g.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'head_includes.html' %}
    <title>{{ _('Fundamt - Lost and Found') }}</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="text-center my-4">
            <img src="{{ url_for('static', filename='images/fundamt-logo.png') }}" alt="Fundamt Logo" class="logo">
        </div>
        <div class="d-flex justify-content-center align-items-center my-4">
            <h1 class="mb-0 text-center">{{ _('Fundamt - Lost and Found') }}</h1>
        </div>
        <p class="text-center">{{ _('Make it easy to find your items! Fundamt is a privacy-focused Lost and Found service.') }}</p>
        <form id="search-form" class="form-inline justify-content-center">
            <input type="text" name="item_id" id="item_id" class="form-control mb-2 mr-sm-2" placeholder="{{ _('Enter Item ID') }}">
            <button type="submit" class="btn btn-primary mb-2">{{ _('Search') }}</button>
        </form>
        <div class="text-center mt-4">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="foundItemDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ _('I found an item, what to do?') }}</button>
                <div class="dropdown-menu" aria-labelledby="foundItemDropdown" id="foundItemDropdownMenu">
                    <p class="dropdown-item">{{ _('If you found an item, enter its ID into the search field to let the owner know.') }}</p>
                </div>
            </div>
            {% if g.user %}
                <a href="{{ url_for('my_tracked_items') }}" class="btn btn-secondary">{{ _('My Tracked Items') }}</a>
            {% else %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="myTrackedItemsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ _('My Tracked Items') }}</button>
                    <div class="dropdown-menu" aria-labelledby="myTrackedItemsButton" id="myTrackedItemsButtonMenu">
                        <p class="dropdown-item">{{ _('Log in to enter your items in the system for tracking.') }}</p>
                    </div>
                </div>
            {% endif %}
            <a href="{{ url_for('register_item_as_missing') }}" class="btn btn-secondary">{{ _('Register item into database') }}</a>
        </div>

        <div class="faq mt-4">
            <h3 class="text-center">{{ _('FAQ') }}</h3>
            <div class="faq-item text-center">
                <div class="faq-question">{{ _('How does it work?') }}</div>
                <div class="faq-answer text-left mx-auto" style="max-width: 600px;">
                    <ol class="text-left">
                        <li>{{ _('Tag your personal items with a Fundamt sticker or a keychain.') }}</li>
                        <li>{{ _('The finder of your item sees the ID of the item and types it into Fundamt.') }}</li>
                        <li>{{ _('They can then send you a message to your phone or email.') }}</li>
                        <li>{{ _('You will get in contact with them by sending your contact information.') }}</li>
                        <li>{{ _("The finder won\\'t see your phone number or email.") }}</li>
                    </ol>
                </div>
            </div>
            <div class="faq-item text-center">
                <div class="faq-question">{{ _('Is it free?') }}</div>
                <div class="faq-answer text-left mx-auto" style="max-width: 600px;">
                    <p>{{ _('Fundamt is free and is supported through sales of stickers.') }}</p>
                </div>
            </div>
            <div class="faq-item text-center">
                <div class="faq-question">{{ _('What data do you save?') }}</div>
                <div class="faq-answer text-left mx-auto" style="max-width: 600px;">
                    <p>{{ _('Fundamt is a privacy-focused solution. We save the following information:') }}</p>
                    <ul class="text-left">
                        <li>{{ _('Item: Description of item, images of item (EXIF data automatically removed), contact information (this can be anything you type in, for example, your Signal account), reported status (yes/no).') }}</li>
                        <li>{{ _('User account (optional): Phone number, e-mail, password. User accounts allow item management but are not necessary.') }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="itemModalLabel">{{ _('Is it correct?') }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img id="item-image" src="" alt="Item image" class="img-thumbnail">
            <p id="item-name"></p>
            <input type="hidden" id="modal-item-id">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('No') }}</button>
            <button type="button" class="btn btn-primary" id="confirm-yes">{{ _('Yes') }}</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Message Modal -->
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="messageModalLabel">{{ _('Message owner') }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <textarea id="owner-message" class="form-control" rows="3" placeholder="{{ _('Enter your message') }}"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
            <button type="button" class="btn btn-primary" id="send-message">{{ _('Send Message') }}</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function() {
        $('#search-form').on('submit', function(event) {
          event.preventDefault();
          const itemId = $('#item_id').val().trim().toLowerCase();
          $.post('/search', { item_id: itemId }, function(response) {
            if (response.status === 'found') {
              $('#item-image').attr('src', response.item.image);
              $('#item-name').text(response.item.title);
              $('#modal-item-id').val(response.item.id);
              $('#itemModal').modal('show');
            } else {
              alert('Item not found or not reported as missing');
            }
          });
        });

        $('#confirm-yes').on('click', function() {
          $('#itemModal').modal('hide');
          $('#messageModal').modal('show');
        });

        $('#send-message').on('click', function() {
          const itemId = $('#modal-item-id').val();
          const message = $('#owner-message').val().trim();
          if (message) {
            $.post('/send_message', { item_id: itemId, message: message }, function(response) {
              if (response.status === 'success') {
                alert('Message sent to the owner successfully');
                $('#messageModal').modal('hide');
              } else {
                alert('Failed to send message');
              }
            });
          } else {
            alert('Message cannot be empty');
          }
        });

        // Toggle FAQ answers
        $('.faq-question').on('click', function() {
          $(this).next('.faq-answer').slideToggle();
        });

        // Close other dropdowns when one is opened
        $('.dropdown-toggle').on('click', function(event) {
          $('.dropdown-menu').not($(this).next()).removeClass('show');
        });

        // Custom Dropdown functionality
        $('#dropdownMenuButton').on('click', function() {
          $(this).next('.dropdown-menu').toggleClass('show');
        });

        $('#foundItemDropdown').on('click', function(event) {
          if ($(window).width() < 768) {
            alert("{{ _('If you found an item, enter its ID into the search field to let the owner know.') }}");
          } else {
            $(this).next('.dropdown-menu').toggleClass('show');
          }
          event.stopPropagation();
        });

        $('#myTrackedItemsButton').on('click', function(event) {
          if ($(window).width() < 768) {
            alert("{{ _('Log in to enter your items in the system for tracking.') }}");
          } else {
            $(this).next('.dropdown-menu').toggleClass('show');
          }
          event.stopPropagation();
        });

        $(document).on('click', function(event) {
          if (!$(event.target).closest('.lang-switcher, .dropdown').length) {
            $('.dropdown-menu').removeClass('show');
          }
        });

        // Update the dropdown button text with the current language
        const currentLang = new URLSearchParams(window.location.search).get('lang') || 'en';
        const langText = {
          'en': 'English',
          'de': 'Deutsch',
          'fr': 'Français',
          'it': 'Italiano'
        };
        $('#dropdownMenuButton').text(langText[currentLang]);

        // Change dropdown button text on selection
        $('.dropdown-item').on('click', function() {
          const selectedLang = $(this).data('lang');
          $('#dropdownMenuButton').text(selectedLang);
        });
      });
    </script>
</body>
</html>
