<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
	    {% include 'head_includes.html' %}

</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1 class="text-center my-4">Register</h1>
        <form action="{{ url_for('register') }}" method="POST" class="form-signin">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" id="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
       
    </div>
</body>
</html>
